.login_page {
  display: flex;
  height: 50em;
  justify-content: center;
  align-items: center;
}
@font-face {
  font-family: "customFont";
  src: url();
}

.login_cover {
  width: 25em;
  height: 45em;
  position: relative;
  border-radius: 10px;
  /* box-shadow: 0 1em 1em gray; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  backdrop-filter: blur(20px);
}

Button:hover {
  color: white;
  /* box-shadow: 0 0 20px rgba(104, 85, 224, 0.6); */
  background-color: crimson;
  filter: blur(0.03em);
  transition: background-color 100ms linear;
}

input:focus {
  outline-color: crimson;
  background-color: transparent;
}
Form.Control:focus {
  border-color: #a3c4bc !important;
  box-shadow: 0 0 0 0.1rem #8ebdb1 !important;
}
.logo1 {
  width: 220px;
  padding-top: 20px;
}
