*,
*::before *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.signup_page {
  display: flex;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  justify-content: center;
  align-items: center;
}
.title {
  margin-bottom: 0.5rem;
  padding-left: 20px;
}
.signup_cover {
  background-color: white;
  width: 25em;
  height: 60em;
  border-radius: 1em;
  box-shadow: 0 1em 1em gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.form {
  position: relative;
  height: 60rem;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.signupBtn:hover {
  background-color: #f67280;
}
.signupBtn {
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  font-weight: 600;
  margin: 0 5px;
  width: 200px;
  padding: 10px 0;
  box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
  transition: 0.4s;
  margin-top: 5px;
}
.signupBtn:hover {
  color: white;
  box-shadow: 0 0 20px rgba(104, 85, 224, 0.6);
}

input {
  border: 2px solid #c0c0c0;
  border-radius: 0.5em;
  background-color: aliceblue;
  height: 28px;
  width: 100%;
  text-align: left;
  font-family: inherit;
  font-weight: inherit;
  outline: none;
  padding-left: 1.5rem;
  background: none;
  justify-content: center;
  /* margin: 10px; */
  margin: 6px;
}
input:hover {
  border-color: #f9a2ab;
}
input:focus {
  border-color: #f9a2ab;
}
.App {
  background-image: url(https://img.freepik.com/free-vector/network-mesh-wire-digital-technology-background_1017-27428.jpg?w=1380&t=st=1688982327~exp=1688982927~hmac=368ac4943f1a92bc3a3c54f5dd521691fe8eaf9d70b144bd149220d9aa46b5de);
}
/* .cover {
} */
.logo {
  width: 240px;
  padding-top: 30px;
  padding-left: 20px;
}
/* .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
} */
.chkbox {
  width: 15px;
  height: 15px;
  /* justify-content: end; */
}
.using {
  text-align: center;
}
